In [3]:
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
import pandas as pd
data = pd.read_csv('data/Electricity_P.csv', engine='python', encoding='CP949')
df=pd.read_csv('data/Climate_HourlyWeather.csv', engine='python', usecols=['Date/Time', 'Temp (C)', 'Rel Hum (%)', 'Weather'], encoding='CP949')
data.head()

,UNIX_TS,WHE,RSE,GRE,MHE,B1E,BME,CWE,DWE,EQE,...,WOE,B2E,CDE,DNE,EBE,FGE,HTE,OUE,TVE,UNE
0,1333263600,918,43,2,873,0,352,0,0,41,...,0,58,0,30,0,0,4,0,37,138
1,1333263660,913,43,0,870,0,354,0,0,35,...,0,58,0,30,0,0,4,0,37,138
2,1333263720,872,43,2,827,0,354,0,0,41,...,0,8,0,30,0,0,4,0,37,138
3,1333263780,872,43,2,827,0,354,0,0,40,...,0,7,0,30,0,0,4,0,37,142
4,1333263840,772,41,2,729,0,352,0,0,40,...,0,8,0,31,0,0,4,0,37,45

In [4]:
df.head()

          Date/Time  Temp (C)  Rel Hum (%)        Weather
0  2012-04-01 00:00       4.3         87.0           Rain
1  2012-04-01 01:00       4.4         86.0     Rain - Fog
2  2012-04-01 02:00       3.8         86.0     Rain - Fog
3  2012-04-01 03:00       2.8         86.0     Rain - Fog
4  2012-04-01 04:00       2.4         87.0  Moderate Rain

In [5]:
#Temp(C), Rel_Hum(%)
data.rename(columns={'UNIX_TS': 'Time'}, inplace=True)
df.rename(columns={'Date/Time': 'Time', 'Temp (C)': 'Temp', 'Rel Hum (%)': 'Rel_Hum'}, inplace=True)

In [6]:
data['Time'] = pd.to_datetime(data['Time'], unit='s')
df['Time'] = pd.to_datetime(df['Time'], infer_datetime_format=True)
data.head()

,Time,WHE,RSE,GRE,MHE,B1E,BME,CWE,DWE,EQE,...,WOE,B2E,CDE,DNE,EBE,FGE,HTE,OUE,TVE,UNE
0,2012-04-01 07:00:00,918,43,2,873,0,352,0,0,41,...,0,58,0,30,0,0,4,0,37,138
1,2012-04-01 07:01:00,913,43,0,870,0,354,0,0,35,...,0,58,0,30,0,0,4,0,37,138
2,2012-04-01 07:02:00,872,43,2,827,0,354,0,0,41,...,0,8,0,30,0,0,4,0,37,138
3,2012-04-01 07:03:00,872,43,2,827,0,354,0,0,40,...,0,7,0,30,0,0,4,0,37,142
4,2012-04-01 07:04:00,772,41,2,729,0,352,0,0,40,...,0,8,0,31,0,0,4,0,37,45

In [7]:
df.head()

                 Time  Temp  Rel_Hum        Weather
0 2012-04-01 00:00:00   4.3     87.0           Rain
1 2012-04-01 01:00:00   4.4     86.0     Rain - Fog
2 2012-04-01 02:00:00   3.8     86.0     Rain - Fog
3 2012-04-01 03:00:00   2.8     86.0     Rain - Fog
4 2012-04-01 04:00:00   2.4     87.0  Moderate Rain

In [8]:
df['Weather'].mask(df['Weather'] == "Heavy Rain - Fog", 0, inplace=True)
df['Weather'].mask(df['Weather'] == "Heavy Rain", 1, inplace=True)
df['Weather'].mask(df['Weather'] == "Rain Showers - Fog", 2, inplace=True)
df['Weather'].mask(df['Weather'] == "Thunderstorms - Rain Showers", 2, inplace=True)
df['Weather'].mask(df['Weather'] == "Rain Showers", 3, inplace=True)
df['Weather'].mask(df['Weather'] == "Snow Showers", 3, inplace=True)
df['Weather'].mask(df['Weather'] == "Rain Showers - Snow Showers", 3, inplace=True)
df['Weather'].mask(df['Weather'] == "Moderate Rain Showers", 4, inplace=True)
df['Weather'].mask(df['Weather'] == "Freezing Rain - Snow Showers", 3, inplace=True)
df['Weather'].mask(df['Weather'] == "Rain - Fog - Blowing Dust", 5, inplace=True)
df['Weather'].mask(df['Weather'] == "Thunderstorms - Rain", 5, inplace=True)
df['Weather'].mask(df['Weather'] == "Rain - Fog", 5, inplace=True)
df['Weather'].mask(df['Weather'] == "Snow - Fog", 5, inplace=True)
df['Weather'].mask(df['Weather'] == "Rain", 6, inplace=True)
df['Weather'].mask(df['Weather'] == "Snow", 6, inplace=True)
df['Weather'].mask(df['Weather'] == "Rain - Snow", 6, inplace=True)
df['Weather'].mask(df['Weather'] == "Moderate Snow", 7, inplace=True)
df['Weather'].mask(df['Weather'] == "Moderate Rain - Fog", 6, inplace=True)
df['Weather'].mask(df['Weather'] == "Thunderstorms - Moderate Rain", 6, inplace=True)
df['Weather'].mask(df['Weather'] == "Freezing Rain", 6, inplace=True)
df['Weather'].mask(df['Weather'] == "Moderate Rain", 7, inplace=True)
df['Weather'].mask(df['Weather'] == "Rain - Drizzle - Fog", 6, inplace=True)
df['Weather'].mask(df['Weather'] == "Rain - Drizzle", 7, inplace=True)
df['Weather'].mask(df['Weather'] == "Snow - Snow Grains", 7, inplace=True)
df['Weather'].mask(df['Weather'] == "Drizzle - Fog", 7, inplace=True)
df['Weather'].mask(df['Weather'] == "Freezing Drizzle - Fog", 7, inplace=True)
df['Weather'].mask(df['Weather'] == "Drizzle - Snow Grains - Fog", 7, inplace=True)
df['Weather'].mask(df['Weather'] == "Drizzle", 8, inplace=True)
df['Weather'].mask(df['Weather'] == "Snow Grains", 8, inplace=True)
df['Weather'].mask(df['Weather'] == "Moderate Drizzle - Fog", 8, inplace=True)
df['Weather'].mask(df['Weather'] == "Freezing Drizzle", 8, inplace=True)
df['Weather'].mask(df['Weather'] == "Fog", 9, inplace=True)
df['Weather'].mask(df['Weather'] == "Thunderstorms", 9, inplace=True)
df['Weather'].mask(df['Weather'] == "Freezing Fog", 9, inplace=True)
df['Weather'].mask(df['Weather'] == "Cloudy", 10, inplace=True)
df['Weather'].mask(df['Weather'] == "Mostly Cloudy", 11, inplace=True)
df['Weather'].mask(df['Weather'] == "Mainly Clear", 12, inplace=True)
df['Weather'].mask(df['Weather'] == "Clear", 13, inplace=True)
df

                     Time  Temp  Rel_Hum Weather
0     2012-04-01 00:00:00   4.3     87.0       6
1     2012-04-01 01:00:00   4.4     86.0       5
2     2012-04-01 02:00:00   3.8     86.0       5
3     2012-04-01 03:00:00   2.8     86.0       5
4     2012-04-01 04:00:00   2.4     87.0       7
5     2012-04-01 05:00:00   3.0     86.0       6
6     2012-04-01 06:00:00   3.7     87.0       6
7     2012-04-01 07:00:00   4.7     79.0      11
8     2012-04-01 08:00:00   5.3     75.0      11
9     2012-04-01 09:00:00   5.9     75.0      11
10    2012-04-01 10:00:00   7.0     68.0      11
11    2012-04-01 11:00:00   7.8     61.0      12
12    2012-04-01 12:00:00   9.1     61.0      12
13    2012-04-01 13:00:00   9.5     53.0      12
14    2012-04-01 14:00:00   9.8     46.0      12
15    2012-04-01 15:00:00  10.5     49.0      12
16    2012-04-01 16:00:00   9.5     60.0      11
17    2012-04-01 17:00:00   8.7     65.0      11
18    2012-04-01 18:00:00   8.5     59.0      10
19    2012-04-01 19:00:00   8.4     62.0      10
20    2012-04-01 20:00:00   7.9     69.0      10
21    2012-04-01 21:00:00   7.2     76.0      11
22    2012-04-01 22:00:00   6.6     78.0      11
23    2012-04-01 23:00:00   6.8     79.0      10
24    2012-04-02 00:00:00   7.2     74.0      10
25    2012-04-02 01:00:00   7.1     74.0      10
26    2012-04-02 02:00:00   7.3     75.0      10
27    2012-04-02 03:00:00   7.4     74.0      10
28    2012-04-02 04:00:00   7.5     72.0      10
29    2012-04-02 05:00:00   7.4     72.0      10
...                   ...   ...      ...     ...
17490 2014-03-30 18:00:00   9.2     68.0     NaN
17491 2014-03-30 19:00:00   8.4     72.0      11
17492 2014-03-30 20:00:00   7.1     81.0     NaN
17493 2014-03-30 21:00:00   7.2     80.0     NaN
17494 2014-03-30 22:00:00   7.3     80.0      11
17495 2014-03-30 23:00:00   5.7     88.0     NaN
17496 2014-03-31 00:00:00   5.9     87.0     NaN
17497 2014-03-31 01:00:00   6.0     87.0      11
17498 2014-03-31 02:00:00   5.4     87.0     NaN
17499 2014-03-31 03:00:00   5.2     82.0     NaN
17500 2014-03-31 04:00:00   3.2     88.0      13
17501 2014-03-31 05:00:00   3.8     88.0     NaN
17502 2014-03-31 06:00:00   2.4     94.0     NaN
17503 2014-03-31 07:00:00   4.5     87.0      12
17504 2014-03-31 08:00:00   6.7     72.0     NaN
17505 2014-03-31 09:00:00   7.4     76.0     NaN
17506 2014-03-31 10:00:00   8.0     78.0      12
17507 2014-03-31 11:00:00   8.3     79.0     NaN
17508 2014-03-31 12:00:00  10.0     74.0     NaN
17509 2014-03-31 13:00:00  10.3     76.0      11
17510 2014-03-31 14:00:00  10.3     77.0     NaN
17511 2014-03-31 15:00:00  10.5     76.0     NaN
17512 2014-03-31 16:00:00  10.2     80.0      12
17513 2014-03-31 17:00:00   9.8     77.0     NaN
17514 2014-03-31 18:00:00   9.4     77.0     NaN
17515 2014-03-31 19:00:00   8.6     84.0      12
17516 2014-03-31 20:00:00   8.2     87.0     NaN
17517 2014-03-31 21:00:00   7.0     94.0     NaN
17518 2014-03-31 22:00:00   6.3     92.0      13
17519 2014-03-31 23:00:00   8.1     78.0     NaN

[17520 rows x 4 columns]

In [9]:
res_df = pd.merge(df, data, on="Time")
res_df

,Time,Temp,Rel_Hum,Weather,WHE,RSE,GRE,MHE,B1E,BME,...,WOE,B2E,CDE,DNE,EBE,FGE,HTE,OUE,TVE,UNE
0,2012-04-01 07:00:00,4.7,79.0,11,918,43,2,873,0,352,...,0,58,0,30,0,0,4,0,37,138
1,2012-04-01 08:00:00,5.3,75.0,11,493,43,2,448,0,7,...,0,7,0,15,0,130,5,0,37,39
2,2012-04-01 09:00:00,5.9,75.0,11,644,41,4,599,0,7,...,0,7,0,4,0,124,5,0,38,144
3,2012-04-01 10:00:00,7.0,68.0,11,351,43,0,308,0,6,...,0,8,0,0,0,1,5,0,38,39
4,2012-04-01 11:00:00,7.8,61.0,12,502,43,4,455,0,7,...,1,8,0,0,0,7,5,0,38,136
5,2012-04-01 12:00:00,9.1,61.0,12,347,43,2,302,0,6,...,0,7,0,0,0,0,5,0,38,32
6,2012-04-01 13:00:00,9.5,53.0,12,315,43,4,268,0,7,...,0,8,0,1,0,0,5,0,38,35
7,2012-04-01 14:00:00,9.8,46.0,12,2134,41,2,2091,0,7,...,0,7,0,0,0,0,5,0,38,52
8,2012-04-01 15:00:00,10.5,49.0,12,2696,169,0,2527,0,327,...,0,8,0,1,0,0,4,0,38,169
9,2012-04-01 16:00:00,9.5,60.0,11,5693,498,0,5195,0,6,...,0,7,0,0,0,10,5,0,37,3141
10,2012-04-01 17:00:00,8.7,65.0,11,2202,150,0,2052,0,7,...,0,7,0,0,0,0,5,0,38,43
11,2012-04-01 18:00:00,8.5,59.0,10,2316,294,2,2020,0,7,...,0,8,0,0,0,0,5,0,37,27
12,2012-04-01 19:00:00,8.4,62.0,10,525,226,4,295,0,7,...,0,8,0,0,0,0,5,0,37,30
13,2012-04-01 20:00:00,7.9,69.0,10,648,287,2,359,0,7,...,0,8,0,0,0,1,20,0,38,34
14,2012-04-01 21:00:00,7.2,76.0,11,2184,146,2,2036,0,7,...,0,7,0,0,0,1,5,0,37,42
15,2012-04-01 22:00:00,6.6,78.0,11,2490,706,2,1782,0,410,...,0,66,0,0,0,1,3,2,38,192
16,2012-04-01 23:00:00,6.8,79.0,10,1160,189,4,967,0,436,...,0,56,0,0,0,0,4,0,37,183
17,2012-04-02 00:00:00,7.2,74.0,10,1197,475,0,722,0,7,...,0,8,0,0,0,127,5,0,297,70
18,2012-04-02 01:00:00,7.1,74.0,10,968,361,0,607,0,7,...,0,8,0,0,0,0,5,0,48,332
19,2012-04-02 02:00:00,7.3,75.0,10,6416,354,0,6062,0,331,...,0,60,4616,0,0,132,5,0,38,512
20,2012-04-02 03:00:00,7.4,74.0,10,2709,390,2,2317,21,7,...,0,7,0,0,0,0,6,0,37,1126
21,2012-04-02 04:00:00,7.5,72.0,10,1640,315,2,1323,20,436,...,0,57,0,21,0,134,46,0,37,368
22,2012-04-02 05:00:00,7.4,72.0,10,1252,354,2,896,0,336,...,0,8,0,11,0,0,4,0,236,132
23,2012-04-02 06:00:00,7.7,68.0,10,1115,194,0,921,0,337,...,0,8,0,0,0,0,5,0,231,135
24,2012-04-02 07:00:00,7.3,69.0,10,662,175,2,485,0,26,...,0,7,0,5,0,150,5,0,38,45
25,2012-04-02 08:00:00,8.3,64.0,10,479,173,2,304,0,7,...,0,7,0,1,0,1,5,0,39,35
26,2012-04-02 09:00:00,8.9,60.0,10,443,173,2,268,0,7,...,0,8,0,0,0,0,5,0,38,41
27,2012-04-02 10:00:00,9.4,59.0,10,488,178,2,308,0,7,...,0,8,0,0,0,7,5,0,38,34
28,2012-04-02 11:00:00,9.8,61.0,10,589,196,2,391,0,7,...,0,8,0,0,0,133,5,0,38,28
29,2012-04-02 12:00:00,11.3,56.0,11,2143,43,0,2100,0,7,...,0,7,0,0,0,0,5,0,37,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17483,2014-03-30 18:00:00,9.2,68.0,NaN,2842,41,2,2799,0,270,...,0,96,0,11,0,0,4,0,21,346
17484,2014-03-30 19:00:00,8.4,72.0,11,708,175,0,533,0,16,...,0,11,0,5,0,0,5,0,22,63
17485,2014-03-30 20:00:00,7.1,81.0,NaN,2230,41,0,2189,0,16,...,0,11,0,1,0,0,5,0,21,92
17486,2014-03-30 21:00:00,7.2,80.0,NaN,685,175,2,508,0,7,...,0,5,0,1,0,125,5,0,22,63
17487,2014-03-30 22:00:00,7.3,80.0,11,434,41,0,393,0,3,...,0,5,0,1,0,6,5,0,21,71
17488,2014-03-30 23:00:00,5.7,88.0,NaN,1535,175,0,1360,0,3,...,0,98,0,1,0,123,6,0,22,56
17489,2014-03-31 00:00:00,5.9,87.0,NaN,1951,41,0,1910,0,329,...,0,5,0,1,0,0,5,0,23,1263
17490,2014-03-31 01:00:00,6.0,87.0,11,2335,178,2,2155,0,273,...,0,5,0,1,0,0,5,0,23,1593
17491,2014-03-31 02:00:00,5.4,87.0,NaN,840,43,2,795,0,272,...,0,5,0,1,0,128,5,0,21,104
17492,2014-03-31 03:00:00,5.2,82.0,NaN,1425,189,2,1234,21,320,...,0,63,0,2,0,0,4,0,22,490
17493,2014-03-31 04:00:00,3.2,88.0,13,1462,43,2,1417,21,268,...,0,62,0,5,0,127,4,0,198,477
17494,2014-03-31 05:00:00,3.8,88.0,NaN,2846,43,2,2801,0,274,...,0,64,0,1,0,0,5,0,358,79
17495,2014-03-31 06:00:00,2.4,94.0,NaN,1288,43,0,1245,0,278,...,0,157,0,2,0,0,5,0,191,347
17496,2014-03-31 07:00:00,4.5,87.0,12,539,43,0,496,0,3,...,0,5,0,2,0,131,5,0,22,68
17497,2014-03-31 08:00:00,6.7,72.0,NaN,411,43,0,368,0,3,...,0,5,0,1,0,0,5,0,22,70
17498,2014-03-31 09:00:00,7.4,76.0,NaN,406,41,2,363,0,2,...,0,5,0,1,0,0,5,0,22,71
17499,2014-03-31 10:00:00,8.0,78.0,12,2266,41,0,2225,0,3,...,0,5,0,1,0,128,5,0,22,80
17500,2014-03-31 11:00:00,8.3,79.0,NaN,406,43,0,363,0,3,...,0,5,0,1,0,0,5,0,22,69
17501,2014-03-31 12:00:00,10.0,74.0,NaN,1119,178,4,937,0,276,...,0,5,0,1,0,122,4,0,22,168
17502,2014-03-31 13:00:00,10.3,76.0,11,539,43,2,494,0,2,...,0,5,0,1,0,132,5,0,22,69
17503,2014-03-31 14:00:00,10.3,77.0,NaN,712,41,0,671,0,3,...,0,5,0,1,0,0,5,0,22,247
17504,2014-03-31 15:00:00,10.5,76.0,NaN,589,43,2,544,0,2,...,0,5,0,14,0,134,5,0,22,113
17505,2014-03-31 16:00:00,10.2,80.0,12,2326,41,0,2285,0,2,...,0,147,0,14,0,0,5,0,22,75
17506,2014-03-31 17:00:00,9.8,77.0,NaN,795,175,0,620,0,3,...,0,137,0,14,0,123,5,0,22,64
17507,2014-03-31 18:00:00,9.4,77.0,NaN,543,43,2,498,0,2,...,0,137,0,11,0,0,5,0,22,71
17508,2014-03-31 19:00:00,8.6,84.0,12,662,178,2,482,0,3,...,0,5,0,1,0,134,5,0,22,56
17509,2014-03-31 20:00:00,8.2,87.0,NaN,827,43,2,782,0,277,...,0,141,0,1,0,0,5,0,22,85
17510,2014-03-31 21:00:00,7.0,94.0,NaN,1073,182,2,889,0,281,...,0,143,0,1,0,128,5,0,22,54
17511,2014-03-31 22:00:00,6.3,92.0,13,799,43,2,754,0,278,...,0,5,0,1,0,0,5,0,145,66
17512,2014-03-31 23:00:00,8.1,78.0,NaN,415,43,2,370,0,3,...,0,5,0,1,0,0,5,0,33,70

In [10]:
res_df = res_df.replace(' ', '')
res_df = res_df.replace('', np.nan)
res_df = res_df.dropna()
res_df.isnull().sum()

Time       0
Temp       0
Rel_Hum    0
Weather    0
WHE        0
RSE        0
GRE        0
MHE        0
B1E        0
BME        0
CWE        0
DWE        0
EQE        0
FRE        0
HPE        0
OFE        0
UTE        0
WOE        0
B2E        0
CDE        0
DNE        0
EBE        0
FGE        0
HTE        0
OUE        0
TVE        0
UNE        0
dtype: int64

In [11]:
res_df['Hour'] = res_df.Time.dt.strftime('%H')
res_df['Month'] = res_df.Time.dt.strftime('%m')
res_df['time_num'] = res_df.Time.dt.strftime('%y%m%d%H%M')
res_df

,Time,Temp,Rel_Hum,Weather,WHE,RSE,GRE,MHE,B1E,BME,...,DNE,EBE,FGE,HTE,OUE,TVE,UNE,Hour,Month,time_num
0,2012-04-01 07:00:00,4.7,79.0,11.0,918,43,2,873,0,352,...,30,0,0,4,0,37,138,07,04,1204010700
1,2012-04-01 08:00:00,5.3,75.0,11.0,493,43,2,448,0,7,...,15,0,130,5,0,37,39,08,04,1204010800
2,2012-04-01 09:00:00,5.9,75.0,11.0,644,41,4,599,0,7,...,4,0,124,5,0,38,144,09,04,1204010900
3,2012-04-01 10:00:00,7.0,68.0,11.0,351,43,0,308,0,6,...,0,0,1,5,0,38,39,10,04,1204011000
4,2012-04-01 11:00:00,7.8,61.0,12.0,502,43,4,455,0,7,...,0,0,7,5,0,38,136,11,04,1204011100
5,2012-04-01 12:00:00,9.1,61.0,12.0,347,43,2,302,0,6,...,0,0,0,5,0,38,32,12,04,1204011200
6,2012-04-01 13:00:00,9.5,53.0,12.0,315,43,4,268,0,7,...,1,0,0,5,0,38,35,13,04,1204011300
7,2012-04-01 14:00:00,9.8,46.0,12.0,2134,41,2,2091,0,7,...,0,0,0,5,0,38,52,14,04,1204011400
8,2012-04-01 15:00:00,10.5,49.0,12.0,2696,169,0,2527,0,327,...,1,0,0,4,0,38,169,15,04,1204011500
9,2012-04-01 16:00:00,9.5,60.0,11.0,5693,498,0,5195,0,6,...,0,0,10,5,0,37,3141,16,04,1204011600
10,2012-04-01 17:00:00,8.7,65.0,11.0,2202,150,0,2052,0,7,...,0,0,0,5,0,38,43,17,04,1204011700
11,2012-04-01 18:00:00,8.5,59.0,10.0,2316,294,2,2020,0,7,...,0,0,0,5,0,37,27,18,04,1204011800
12,2012-04-01 19:00:00,8.4,62.0,10.0,525,226,4,295,0,7,...,0,0,0,5,0,37,30,19,04,1204011900
13,2012-04-01 20:00:00,7.9,69.0,10.0,648,287,2,359,0,7,...,0,0,1,20,0,38,34,20,04,1204012000
14,2012-04-01 21:00:00,7.2,76.0,11.0,2184,146,2,2036,0,7,...,0,0,1,5,0,37,42,21,04,1204012100
15,2012-04-01 22:00:00,6.6,78.0,11.0,2490,706,2,1782,0,410,...,0,0,1,3,2,38,192,22,04,1204012200
16,2012-04-01 23:00:00,6.8,79.0,10.0,1160,189,4,967,0,436,...,0,0,0,4,0,37,183,23,04,1204012300
17,2012-04-02 00:00:00,7.2,74.0,10.0,1197,475,0,722,0,7,...,0,0,127,5,0,297,70,00,04,1204020000
18,2012-04-02 01:00:00,7.1,74.0,10.0,968,361,0,607,0,7,...,0,0,0,5,0,48,332,01,04,1204020100
19,2012-04-02 02:00:00,7.3,75.0,10.0,6416,354,0,6062,0,331,...,0,0,132,5,0,38,512,02,04,1204020200
20,2012-04-02 03:00:00,7.4,74.0,10.0,2709,390,2,2317,21,7,...,0,0,0,6,0,37,1126,03,04,1204020300
21,2012-04-02 04:00:00,7.5,72.0,10.0,1640,315,2,1323,20,436,...,21,0,134,46,0,37,368,04,04,1204020400
22,2012-04-02 05:00:00,7.4,72.0,10.0,1252,354,2,896,0,336,...,11,0,0,4,0,236,132,05,04,1204020500
23,2012-04-02 06:00:00,7.7,68.0,10.0,1115,194,0,921,0,337,...,0,0,0,5,0,231,135,06,04,1204020600
24,2012-04-02 07:00:00,7.3,69.0,10.0,662,175,2,485,0,26,...,5,0,150,5,0,38,45,07,04,1204020700
25,2012-04-02 08:00:00,8.3,64.0,10.0,479,173,2,304,0,7,...,1,0,1,5,0,39,35,08,04,1204020800
26,2012-04-02 09:00:00,8.9,60.0,10.0,443,173,2,268,0,7,...,0,0,0,5,0,38,41,09,04,1204020900
27,2012-04-02 10:00:00,9.4,59.0,10.0,488,178,2,308,0,7,...,0,0,7,5,0,38,34,10,04,1204021000
28,2012-04-02 11:00:00,9.8,61.0,10.0,589,196,2,391,0,7,...,0,0,133,5,0,38,28,11,04,1204021100
29,2012-04-02 12:00:00,11.3,56.0,11.0,2143,43,0,2100,0,7,...,0,0,0,5,0,37,52,12,04,1204021200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17449,2014-03-29 08:00:00,8.8,84.0,3.0,393,43,0,350,0,3,...,1,0,0,5,0,22,72,08,03,1403290800
17450,2014-03-29 09:00:00,9.0,83.0,3.0,507,43,0,464,0,3,...,2,0,0,5,0,21,173,09,03,1403290900
17451,2014-03-29 10:00:00,10.7,79.0,11.0,2284,43,0,2241,0,3,...,1,0,0,5,0,22,181,10,03,1403291000
17453,2014-03-29 12:00:00,9.6,82.0,3.0,2271,43,2,2226,0,3,...,1,0,0,5,0,22,185,12,03,1403291200
17454,2014-03-29 13:00:00,10.7,78.0,11.0,530,45,2,483,0,2,...,1,0,0,5,0,22,195,13,03,1403291300
17455,2014-03-29 14:00:00,9.3,86.0,3.0,5922,345,0,5577,0,2,...,1,0,134,5,0,21,2502,14,03,1403291400
17456,2014-03-29 15:00:00,9.1,86.0,3.0,1594,479,0,1115,0,279,...,1,0,123,35,0,251,168,15,03,1403291500
17457,2014-03-29 16:00:00,9.3,88.0,3.0,863,173,0,690,0,329,...,1,0,6,4,0,22,71,16,03,1403291600
17460,2014-03-29 19:00:00,8.9,87.0,3.0,566,173,2,391,0,3,...,1,0,0,5,0,22,61,19,03,1403291900
17463,2014-03-29 22:00:00,8.2,91.0,11.0,1192,178,0,1014,0,334,...,1,0,129,5,0,22,168,22,03,1403292200
17466,2014-03-30 01:00:00,7.7,87.0,11.0,5214,43,0,5171,0,4,...,1,0,134,5,0,22,58,01,03,1403300100
17467,2014-03-30 02:00:00,7.8,85.0,3.0,772,43,2,727,0,4,...,1,0,123,5,0,21,219,02,03,1403300200
17468,2014-03-30 03:00:00,7.8,82.0,3.0,813,41,2,770,21,4,...,2,0,0,5,0,21,394,03,03,1403300300
17469,2014-03-30 04:00:00,7.6,81.0,3.0,1046,43,0,1003,21,276,...,2,0,128,21,0,21,276,04,03,1403300400
17472,2014-03-30 07:00:00,7.2,85.0,11.0,1137,191,2,944,0,298,...,3,0,122,5,0,22,169,07,03,1403300700
17473,2014-03-30 08:00:00,7.0,84.0,3.0,534,41,4,489,0,3,...,1,0,0,5,0,22,193,08,03,1403300800
17474,2014-03-30 09:00:00,6.8,90.0,3.0,648,43,2,603,0,3,...,1,0,128,5,0,22,180,09,03,1403300900
17475,2014-03-30 10:00:00,7.5,88.0,3.0,653,175,2,476,0,3,...,1,0,7,5,0,21,171,10,03,1403301000
17478,2014-03-30 13:00:00,11.3,59.0,11.0,2422,43,0,2379,0,3,...,1,0,133,5,0,22,185,13,03,1403301300
17481,2014-03-30 16:00:00,11.1,64.0,11.0,639,43,2,594,0,2,...,1,0,130,5,0,22,171,16,03,1403301600
17484,2014-03-30 19:00:00,8.4,72.0,11.0,708,175,0,533,0,16,...,5,0,0,5,0,22,63,19,03,1403301900
17487,2014-03-30 22:00:00,7.3,80.0,11.0,434,41,0,393,0,3,...,1,0,6,5,0,21,71,22,03,1403302200
17490,2014-03-31 01:00:00,6.0,87.0,11.0,2335,178,2,2155,0,273,...,1,0,0,5,0,23,1593,01,03,1403310100
17493,2014-03-31 04:00:00,3.2,88.0,13.0,1462,43,2,1417,21,268,...,5,0,127,4,0,198,477,04,03,1403310400
17496,2014-03-31 07:00:00,4.5,87.0,12.0,539,43,0,496,0,3,...,2,0,131,5,0,22,68,07,03,1403310700
17499,2014-03-31 10:00:00,8.0,78.0,12.0,2266,41,0,2225,0,3,...,1,0,128,5,0,22,80,10,03,1403311000
17502,2014-03-31 13:00:00,10.3,76.0,11.0,539,43,2,494,0,2,...,1,0,132,5,0,22,69,13,03,1403311300
17505,2014-03-31 16:00:00,10.2,80.0,12.0,2326,41,0,2285,0,2,...,14,0,0,5,0,22,75,16,03,1403311600
17508,2014-03-31 19:00:00,8.6,84.0,12.0,662,178,2,482,0,3,...,1,0,134,5,0,22,56,19,03,1403311900
17511,2014-03-31 22:00:00,6.3,92.0,13.0,799,43,2,754,0,278,...,1,0,0,5,0,145,66,22,03,1403312200

In [12]:
res_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13836 entries, 0 to 17511
Data columns (total 30 columns):
Time        13836 non-null datetime64[ns]
Temp        13836 non-null float64
Rel_Hum     13836 non-null float64
Weather     13836 non-null float64
WHE         13836 non-null int64
RSE         13836 non-null int64
GRE         13836 non-null int64
MHE         13836 non-null int64
B1E         13836 non-null int64
BME         13836 non-null int64
CWE         13836 non-null int64
DWE         13836 non-null int64
EQE         13836 non-null int64
FRE         13836 non-null int64
HPE         13836 non-null int64
OFE         13836 non-null int64
UTE         13836 non-null int64
WOE         13836 non-null int64
B2E         13836 non-null int64
CDE         13836 non-null int64
DNE         13836 non-null int64
EBE         13836 non-null int64
FGE         13836 non-null int64
HTE         13836 non-null int64
OUE         13836 non-null int64
TVE         13836 non-null int64
UNE         13836 non-null int64
Hour        13836 non-null object
Month       13836 non-null object
time_num    13836 non-null object
dtypes: datetime64[ns](1), float64(3), int64(23), object(3)
memory usage: 3.3+ MB

In [13]:
res_df.to_csv("res_data_hour.csv", mode='w', index=False)
print('end')

end