In [2]:
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
import pandas as pd
data = pd.read_csv('data/Electricity_P.csv', engine='python', encoding='CP949')
df=pd.read_csv('data/Climate_HourlyWeather.csv', engine='python', usecols=['Date/Time', 'Temp (C)', 'Rel Hum (%)', 'Weather'], encoding='CP949')
data.head()

,UNIX_TS,WHE,RSE,GRE,MHE,B1E,BME,CWE,DWE,EQE,...,WOE,B2E,CDE,DNE,EBE,FGE,HTE,OUE,TVE,UNE
0,1333263600,918,43,2,873,0,352,0,0,41,...,0,58,0,30,0,0,4,0,37,138
1,1333263660,913,43,0,870,0,354,0,0,35,...,0,58,0,30,0,0,4,0,37,138
2,1333263720,872,43,2,827,0,354,0,0,41,...,0,8,0,30,0,0,4,0,37,138
3,1333263780,872,43,2,827,0,354,0,0,40,...,0,7,0,30,0,0,4,0,37,142
4,1333263840,772,41,2,729,0,352,0,0,40,...,0,8,0,31,0,0,4,0,37,45

In [3]:
df.head()

          Date/Time  Temp (C)  Rel Hum (%)        Weather
0  2012-04-01 00:00       4.3         87.0           Rain
1  2012-04-01 01:00       4.4         86.0     Rain - Fog
2  2012-04-01 02:00       3.8         86.0     Rain - Fog
3  2012-04-01 03:00       2.8         86.0     Rain - Fog
4  2012-04-01 04:00       2.4         87.0  Moderate Rain

In [4]:
#Temp(C), Rel_Hum(%)
data.rename(columns={'UNIX_TS': 'Time'}, inplace=True)
df.rename(columns={'Date/Time': 'time_num', 'Temp (C)': 'Temp', 'Rel Hum (%)': 'Rel_Hum'}, inplace=True)

In [6]:
data['Time'] = pd.to_datetime(data['Time'], unit='s')
df['time_num'] = pd.to_datetime(df['time_num'], infer_datetime_format=True)
data.head()

,Time,WHE,RSE,GRE,MHE,B1E,BME,CWE,DWE,EQE,...,WOE,B2E,CDE,DNE,EBE,FGE,HTE,OUE,TVE,UNE
0,2012-04-01 07:00:00,918,43,2,873,0,352,0,0,41,...,0,58,0,30,0,0,4,0,37,138
1,2012-04-01 07:01:00,913,43,0,870,0,354,0,0,35,...,0,58,0,30,0,0,4,0,37,138
2,2012-04-01 07:02:00,872,43,2,827,0,354,0,0,41,...,0,8,0,30,0,0,4,0,37,138
3,2012-04-01 07:03:00,872,43,2,827,0,354,0,0,40,...,0,7,0,30,0,0,4,0,37,142
4,2012-04-01 07:04:00,772,41,2,729,0,352,0,0,40,...,0,8,0,31,0,0,4,0,37,45

In [11]:
df.head()

     time_num  Temp  Rel_Hum Weather
0  1204010000   4.3     87.0       6
1  1204010100   4.4     86.0       5
2  1204010200   3.8     86.0       5
3  1204010300   2.8     86.0       5
4  1204010400   2.4     87.0       7

In [8]:
df['Weather'].mask(df['Weather'] == "Heavy Rain - Fog", 0, inplace=True)
df['Weather'].mask(df['Weather'] == "Heavy Rain", 1, inplace=True)
df['Weather'].mask(df['Weather'] == "Rain Showers - Fog", 2, inplace=True)
df['Weather'].mask(df['Weather'] == "Thunderstorms - Rain Showers", 2, inplace=True)
df['Weather'].mask(df['Weather'] == "Rain Showers", 3, inplace=True)
df['Weather'].mask(df['Weather'] == "Snow Showers", 3, inplace=True)
df['Weather'].mask(df['Weather'] == "Rain Showers - Snow Showers", 3, inplace=True)
df['Weather'].mask(df['Weather'] == "Moderate Rain Showers", 4, inplace=True)
df['Weather'].mask(df['Weather'] == "Freezing Rain - Snow Showers", 3, inplace=True)
df['Weather'].mask(df['Weather'] == "Rain - Fog - Blowing Dust", 5, inplace=True)
df['Weather'].mask(df['Weather'] == "Thunderstorms - Rain", 5, inplace=True)
df['Weather'].mask(df['Weather'] == "Rain - Fog", 5, inplace=True)
df['Weather'].mask(df['Weather'] == "Snow - Fog", 5, inplace=True)
df['Weather'].mask(df['Weather'] == "Rain", 6, inplace=True)
df['Weather'].mask(df['Weather'] == "Snow", 6, inplace=True)
df['Weather'].mask(df['Weather'] == "Rain - Snow", 6, inplace=True)
df['Weather'].mask(df['Weather'] == "Moderate Snow", 7, inplace=True)
df['Weather'].mask(df['Weather'] == "Moderate Rain - Fog", 6, inplace=True)
df['Weather'].mask(df['Weather'] == "Thunderstorms - Moderate Rain", 6, inplace=True)
df['Weather'].mask(df['Weather'] == "Freezing Rain", 6, inplace=True)
df['Weather'].mask(df['Weather'] == "Moderate Rain", 7, inplace=True)
df['Weather'].mask(df['Weather'] == "Rain - Drizzle - Fog", 6, inplace=True)
df['Weather'].mask(df['Weather'] == "Rain - Drizzle", 7, inplace=True)
df['Weather'].mask(df['Weather'] == "Snow - Snow Grains", 7, inplace=True)
df['Weather'].mask(df['Weather'] == "Drizzle - Fog", 7, inplace=True)
df['Weather'].mask(df['Weather'] == "Freezing Drizzle - Fog", 7, inplace=True)
df['Weather'].mask(df['Weather'] == "Drizzle - Snow Grains - Fog", 7, inplace=True)
df['Weather'].mask(df['Weather'] == "Drizzle", 8, inplace=True)
df['Weather'].mask(df['Weather'] == "Snow Grains", 8, inplace=True)
df['Weather'].mask(df['Weather'] == "Moderate Drizzle - Fog", 8, inplace=True)
df['Weather'].mask(df['Weather'] == "Freezing Drizzle", 8, inplace=True)
df['Weather'].mask(df['Weather'] == "Fog", 9, inplace=True)
df['Weather'].mask(df['Weather'] == "Thunderstorms", 9, inplace=True)
df['Weather'].mask(df['Weather'] == "Freezing Fog", 9, inplace=True)
df['Weather'].mask(df['Weather'] == "Cloudy", 10, inplace=True)
df['Weather'].mask(df['Weather'] == "Mostly Cloudy", 11, inplace=True)
df['Weather'].mask(df['Weather'] == "Mainly Clear", 12, inplace=True)
df['Weather'].mask(df['Weather'] == "Clear", 13, inplace=True)
df

                 time_num  Temp  Rel_Hum Weather
0     2012-04-01 00:00:00   4.3     87.0       6
1     2012-04-01 01:00:00   4.4     86.0       5
2     2012-04-01 02:00:00   3.8     86.0       5
3     2012-04-01 03:00:00   2.8     86.0       5
4     2012-04-01 04:00:00   2.4     87.0       7
5     2012-04-01 05:00:00   3.0     86.0       6
6     2012-04-01 06:00:00   3.7     87.0       6
7     2012-04-01 07:00:00   4.7     79.0      11
8     2012-04-01 08:00:00   5.3     75.0      11
9     2012-04-01 09:00:00   5.9     75.0      11
10    2012-04-01 10:00:00   7.0     68.0      11
11    2012-04-01 11:00:00   7.8     61.0      12
12    2012-04-01 12:00:00   9.1     61.0      12
13    2012-04-01 13:00:00   9.5     53.0      12
14    2012-04-01 14:00:00   9.8     46.0      12
15    2012-04-01 15:00:00  10.5     49.0      12
16    2012-04-01 16:00:00   9.5     60.0      11
17    2012-04-01 17:00:00   8.7     65.0      11
18    2012-04-01 18:00:00   8.5     59.0      10
19    2012-04-01 19:00:00   8.4     62.0      10
20    2012-04-01 20:00:00   7.9     69.0      10
21    2012-04-01 21:00:00   7.2     76.0      11
22    2012-04-01 22:00:00   6.6     78.0      11
23    2012-04-01 23:00:00   6.8     79.0      10
24    2012-04-02 00:00:00   7.2     74.0      10
25    2012-04-02 01:00:00   7.1     74.0      10
26    2012-04-02 02:00:00   7.3     75.0      10
27    2012-04-02 03:00:00   7.4     74.0      10
28    2012-04-02 04:00:00   7.5     72.0      10
29    2012-04-02 05:00:00   7.4     72.0      10
...                   ...   ...      ...     ...
17490 2014-03-30 18:00:00   9.2     68.0     NaN
17491 2014-03-30 19:00:00   8.4     72.0      11
17492 2014-03-30 20:00:00   7.1     81.0     NaN
17493 2014-03-30 21:00:00   7.2     80.0     NaN
17494 2014-03-30 22:00:00   7.3     80.0      11
17495 2014-03-30 23:00:00   5.7     88.0     NaN
17496 2014-03-31 00:00:00   5.9     87.0     NaN
17497 2014-03-31 01:00:00   6.0     87.0      11
17498 2014-03-31 02:00:00   5.4     87.0     NaN
17499 2014-03-31 03:00:00   5.2     82.0     NaN
17500 2014-03-31 04:00:00   3.2     88.0      13
17501 2014-03-31 05:00:00   3.8     88.0     NaN
17502 2014-03-31 06:00:00   2.4     94.0     NaN
17503 2014-03-31 07:00:00   4.5     87.0      12
17504 2014-03-31 08:00:00   6.7     72.0     NaN
17505 2014-03-31 09:00:00   7.4     76.0     NaN
17506 2014-03-31 10:00:00   8.0     78.0      12
17507 2014-03-31 11:00:00   8.3     79.0     NaN
17508 2014-03-31 12:00:00  10.0     74.0     NaN
17509 2014-03-31 13:00:00  10.3     76.0      11
17510 2014-03-31 14:00:00  10.3     77.0     NaN
17511 2014-03-31 15:00:00  10.5     76.0     NaN
17512 2014-03-31 16:00:00  10.2     80.0      12
17513 2014-03-31 17:00:00   9.8     77.0     NaN
17514 2014-03-31 18:00:00   9.4     77.0     NaN
17515 2014-03-31 19:00:00   8.6     84.0      12
17516 2014-03-31 20:00:00   8.2     87.0     NaN
17517 2014-03-31 21:00:00   7.0     94.0     NaN
17518 2014-03-31 22:00:00   6.3     92.0      13
17519 2014-03-31 23:00:00   8.1     78.0     NaN

[17520 rows x 4 columns]

In [12]:
data['time_num'] = data.Time.dt.strftime('%y%m%d%H%M')
df['time_num'] = df.time_num.dt.strftime('%y%m%d%H%M')
data.head()

AttributeError: Can only use .dt accessor with datetimelike values

In [13]:
df.head()

     time_num  Temp  Rel_Hum Weather
0  1204010000   4.3     87.0       6
1  1204010100   4.4     86.0       5
2  1204010200   3.8     86.0       5
3  1204010300   2.8     86.0       5
4  1204010400   2.4     87.0       7

In [15]:
res_df = pd.merge(data, df, on="time_num")
res_df

,Time,WHE,RSE,GRE,MHE,B1E,BME,CWE,DWE,EQE,...,EBE,FGE,HTE,OUE,TVE,UNE,time_num,Temp,Rel_Hum,Weather
0,2012-04-01 07:00:00,918,43,2,873,0,352,0,0,41,...,0,0,4,0,37,138,1204010700,4.7,79.0,11
1,2012-04-01 08:00:00,493,43,2,448,0,7,0,0,40,...,0,130,5,0,37,39,1204010800,5.3,75.0,11
2,2012-04-01 09:00:00,644,41,4,599,0,7,0,0,41,...,0,124,5,0,38,144,1204010900,5.9,75.0,11
3,2012-04-01 10:00:00,351,43,0,308,0,6,0,0,40,...,0,1,5,0,38,39,1204011000,7.0,68.0,11
4,2012-04-01 11:00:00,502,43,4,455,0,7,0,0,42,...,0,7,5,0,38,136,1204011100,7.8,61.0,12
5,2012-04-01 12:00:00,347,43,2,302,0,6,0,0,40,...,0,0,5,0,38,32,1204011200,9.1,61.0,12
6,2012-04-01 13:00:00,315,43,4,268,0,7,0,0,40,...,0,0,5,0,38,35,1204011300,9.5,53.0,12
7,2012-04-01 14:00:00,2134,41,2,2091,0,7,0,0,39,...,0,0,5,0,38,52,1204011400,9.8,46.0,12
8,2012-04-01 15:00:00,2696,169,0,2527,0,327,0,0,40,...,0,0,4,0,38,169,1204011500,10.5,49.0,12
9,2012-04-01 16:00:00,5693,498,0,5195,0,6,0,0,39,...,0,10,5,0,37,3141,1204011600,9.5,60.0,11
10,2012-04-01 17:00:00,2202,150,0,2052,0,7,0,0,40,...,0,0,5,0,38,43,1204011700,8.7,65.0,11
11,2012-04-01 18:00:00,2316,294,2,2020,0,7,0,0,45,...,0,0,5,0,37,27,1204011800,8.5,59.0,10
12,2012-04-01 19:00:00,525,226,4,295,0,7,0,0,40,...,0,0,5,0,37,30,1204011900,8.4,62.0,10
13,2012-04-01 20:00:00,648,287,2,359,0,7,0,0,40,...,0,1,20,0,38,34,1204012000,7.9,69.0,10
14,2012-04-01 21:00:00,2184,146,2,2036,0,7,0,0,40,...,0,1,5,0,37,42,1204012100,7.2,76.0,11
15,2012-04-01 22:00:00,2490,706,2,1782,0,410,860,0,40,...,0,1,3,2,38,192,1204012200,6.6,78.0,11
16,2012-04-01 23:00:00,1160,189,4,967,0,436,0,0,41,...,0,0,4,0,37,183,1204012300,6.8,79.0,10
17,2012-04-02 00:00:00,1197,475,0,722,0,7,0,0,42,...,0,127,5,0,297,70,1204020000,7.2,74.0,10
18,2012-04-02 01:00:00,968,361,0,607,0,7,0,0,31,...,0,0,5,0,48,332,1204020100,7.1,74.0,10
19,2012-04-02 02:00:00,6416,354,0,6062,0,331,0,6,40,...,0,132,5,0,38,512,1204020200,7.3,75.0,10
20,2012-04-02 03:00:00,2709,390,2,2317,21,7,0,740,40,...,0,0,6,0,37,1126,1204020300,7.4,74.0,10
21,2012-04-02 04:00:00,1640,315,2,1323,20,436,0,2,40,...,0,134,46,0,37,368,1204020400,7.5,72.0,10
22,2012-04-02 05:00:00,1252,354,2,896,0,336,0,0,40,...,0,0,4,0,236,132,1204020500,7.4,72.0,10
23,2012-04-02 06:00:00,1115,194,0,921,0,337,0,0,40,...,0,0,5,0,231,135,1204020600,7.7,68.0,10
24,2012-04-02 07:00:00,662,175,2,485,0,26,0,0,43,...,0,150,5,0,38,45,1204020700,7.3,69.0,10
25,2012-04-02 08:00:00,479,173,2,304,0,7,0,0,40,...,0,1,5,0,39,35,1204020800,8.3,64.0,10
26,2012-04-02 09:00:00,443,173,2,268,0,7,0,0,40,...,0,0,5,0,38,41,1204020900,8.9,60.0,10
27,2012-04-02 10:00:00,488,178,2,308,0,7,0,0,40,...,0,7,5,0,38,34,1204021000,9.4,59.0,10
28,2012-04-02 11:00:00,589,196,2,391,0,7,0,0,40,...,0,133,5,0,38,28,1204021100,9.8,61.0,10
29,2012-04-02 12:00:00,2143,43,0,2100,0,7,0,0,40,...,0,0,5,0,37,52,1204021200,11.3,56.0,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17483,2014-03-30 18:00:00,2842,41,2,2799,0,270,0,3,38,...,0,0,4,0,21,346,1403301800,9.2,68.0,NaN
17484,2014-03-30 19:00:00,708,175,0,533,0,16,0,132,37,...,0,0,5,0,22,63,1403301900,8.4,72.0,11
17485,2014-03-30 20:00:00,2230,41,0,2189,0,16,0,3,38,...,0,0,5,0,21,92,1403302000,7.1,81.0,NaN
17486,2014-03-30 21:00:00,685,175,2,508,0,7,0,0,38,...,0,125,5,0,22,63,1403302100,7.2,80.0,NaN
17487,2014-03-30 22:00:00,434,41,0,393,0,3,0,0,38,...,0,6,5,0,21,71,1403302200,7.3,80.0,11
17488,2014-03-30 23:00:00,1535,175,0,1360,0,3,0,765,41,...,0,123,6,0,22,56,1403302300,5.7,88.0,NaN
17489,2014-03-31 00:00:00,1951,41,0,1910,0,329,0,3,38,...,0,0,5,0,23,1263,1403310000,5.9,87.0,NaN
17490,2014-03-31 01:00:00,2335,178,2,2155,0,273,0,0,37,...,0,0,5,0,23,1593,1403310100,6.0,87.0,11
17491,2014-03-31 02:00:00,840,43,2,795,0,272,0,0,38,...,0,128,5,0,21,104,1403310200,5.4,87.0,NaN
17492,2014-03-31 03:00:00,1425,189,2,1234,21,320,0,0,37,...,0,0,4,0,22,490,1403310300,5.2,82.0,NaN
17493,2014-03-31 04:00:00,1462,43,2,1417,21,268,0,0,38,...,0,127,4,0,198,477,1403310400,3.2,88.0,13
17494,2014-03-31 05:00:00,2846,43,2,2801,0,274,0,0,38,...,0,0,5,0,358,79,1403310500,3.8,88.0,NaN
17495,2014-03-31 06:00:00,1288,43,0,1245,0,278,0,0,44,...,0,0,5,0,191,347,1403310600,2.4,94.0,NaN
17496,2014-03-31 07:00:00,539,43,0,496,0,3,0,0,38,...,0,131,5,0,22,68,1403310700,4.5,87.0,12
17497,2014-03-31 08:00:00,411,43,0,368,0,3,0,0,38,...,0,0,5,0,22,70,1403310800,6.7,72.0,NaN
17498,2014-03-31 09:00:00,406,41,2,363,0,2,0,0,38,...,0,0,5,0,22,71,1403310900,7.4,76.0,NaN
17499,2014-03-31 10:00:00,2266,41,0,2225,0,3,0,0,38,...,0,128,5,0,22,80,1403311000,8.0,78.0,12
17500,2014-03-31 11:00:00,406,43,0,363,0,3,0,0,38,...,0,0,5,0,22,69,1403311100,8.3,79.0,NaN
17501,2014-03-31 12:00:00,1119,178,4,937,0,276,0,0,40,...,0,122,4,0,22,168,1403311200,10.0,74.0,NaN
17502,2014-03-31 13:00:00,539,43,2,494,0,2,0,0,38,...,0,132,5,0,22,69,1403311300,10.3,76.0,11
17503,2014-03-31 14:00:00,712,41,0,671,0,3,0,0,38,...,0,0,5,0,22,247,1403311400,10.3,77.0,NaN
17504,2014-03-31 15:00:00,589,43,2,544,0,2,0,0,38,...,0,134,5,0,22,113,1403311500,10.5,76.0,NaN
17505,2014-03-31 16:00:00,2326,41,0,2285,0,2,0,0,38,...,0,0,5,0,22,75,1403311600,10.2,80.0,12
17506,2014-03-31 17:00:00,795,175,0,620,0,3,0,0,38,...,0,123,5,0,22,64,1403311700,9.8,77.0,NaN
17507,2014-03-31 18:00:00,543,43,2,498,0,2,0,0,39,...,0,0,5,0,22,71,1403311800,9.4,77.0,NaN
17508,2014-03-31 19:00:00,662,178,2,482,0,3,0,0,42,...,0,134,5,0,22,56,1403311900,8.6,84.0,12
17509,2014-03-31 20:00:00,827,43,2,782,0,277,0,0,38,...,0,0,5,0,22,85,1403312000,8.2,87.0,NaN
17510,2014-03-31 21:00:00,1073,182,2,889,0,281,0,0,40,...,0,128,5,0,22,54,1403312100,7.0,94.0,NaN
17511,2014-03-31 22:00:00,799,43,2,754,0,278,0,0,38,...,0,0,5,0,145,66,1403312200,6.3,92.0,13
17512,2014-03-31 23:00:00,415,43,2,370,0,3,0,0,38,...,0,0,5,0,33,70,1403312300,8.1,78.0,NaN

In [16]:
res_df = res_df.replace(' ', '')
res_df = res_df.replace('', np.nan)
res_df = res_df.dropna()
res_df.isnull().sum()

Time        0
WHE         0
RSE         0
GRE         0
MHE         0
B1E         0
BME         0
CWE         0
DWE         0
EQE         0
FRE         0
HPE         0
OFE         0
UTE         0
WOE         0
B2E         0
CDE         0
DNE         0
EBE         0
FGE         0
HTE         0
OUE         0
TVE         0
UNE         0
time_num    0
Temp        0
Rel_Hum     0
Weather     0
dtype: int64

In [17]:
res_df['Hour'] = res_df.Time.dt.strftime('%H')
res_df['Month'] = res_df.Time.dt.strftime('%m')
res_df

,Time,WHE,RSE,GRE,MHE,B1E,BME,CWE,DWE,EQE,...,HTE,OUE,TVE,UNE,time_num,Temp,Rel_Hum,Weather,Hour,Month
0,2012-04-01 07:00:00,918,43,2,873,0,352,0,0,41,...,4,0,37,138,1204010700,4.7,79.0,11.0,07,04
1,2012-04-01 08:00:00,493,43,2,448,0,7,0,0,40,...,5,0,37,39,1204010800,5.3,75.0,11.0,08,04
2,2012-04-01 09:00:00,644,41,4,599,0,7,0,0,41,...,5,0,38,144,1204010900,5.9,75.0,11.0,09,04
3,2012-04-01 10:00:00,351,43,0,308,0,6,0,0,40,...,5,0,38,39,1204011000,7.0,68.0,11.0,10,04
4,2012-04-01 11:00:00,502,43,4,455,0,7,0,0,42,...,5,0,38,136,1204011100,7.8,61.0,12.0,11,04
5,2012-04-01 12:00:00,347,43,2,302,0,6,0,0,40,...,5,0,38,32,1204011200,9.1,61.0,12.0,12,04
6,2012-04-01 13:00:00,315,43,4,268,0,7,0,0,40,...,5,0,38,35,1204011300,9.5,53.0,12.0,13,04
7,2012-04-01 14:00:00,2134,41,2,2091,0,7,0,0,39,...,5,0,38,52,1204011400,9.8,46.0,12.0,14,04
8,2012-04-01 15:00:00,2696,169,0,2527,0,327,0,0,40,...,4,0,38,169,1204011500,10.5,49.0,12.0,15,04
9,2012-04-01 16:00:00,5693,498,0,5195,0,6,0,0,39,...,5,0,37,3141,1204011600,9.5,60.0,11.0,16,04
10,2012-04-01 17:00:00,2202,150,0,2052,0,7,0,0,40,...,5,0,38,43,1204011700,8.7,65.0,11.0,17,04
11,2012-04-01 18:00:00,2316,294,2,2020,0,7,0,0,45,...,5,0,37,27,1204011800,8.5,59.0,10.0,18,04
12,2012-04-01 19:00:00,525,226,4,295,0,7,0,0,40,...,5,0,37,30,1204011900,8.4,62.0,10.0,19,04
13,2012-04-01 20:00:00,648,287,2,359,0,7,0,0,40,...,20,0,38,34,1204012000,7.9,69.0,10.0,20,04
14,2012-04-01 21:00:00,2184,146,2,2036,0,7,0,0,40,...,5,0,37,42,1204012100,7.2,76.0,11.0,21,04
15,2012-04-01 22:00:00,2490,706,2,1782,0,410,860,0,40,...,3,2,38,192,1204012200,6.6,78.0,11.0,22,04
16,2012-04-01 23:00:00,1160,189,4,967,0,436,0,0,41,...,4,0,37,183,1204012300,6.8,79.0,10.0,23,04
17,2012-04-02 00:00:00,1197,475,0,722,0,7,0,0,42,...,5,0,297,70,1204020000,7.2,74.0,10.0,00,04
18,2012-04-02 01:00:00,968,361,0,607,0,7,0,0,31,...,5,0,48,332,1204020100,7.1,74.0,10.0,01,04
19,2012-04-02 02:00:00,6416,354,0,6062,0,331,0,6,40,...,5,0,38,512,1204020200,7.3,75.0,10.0,02,04
20,2012-04-02 03:00:00,2709,390,2,2317,21,7,0,740,40,...,6,0,37,1126,1204020300,7.4,74.0,10.0,03,04
21,2012-04-02 04:00:00,1640,315,2,1323,20,436,0,2,40,...,46,0,37,368,1204020400,7.5,72.0,10.0,04,04
22,2012-04-02 05:00:00,1252,354,2,896,0,336,0,0,40,...,4,0,236,132,1204020500,7.4,72.0,10.0,05,04
23,2012-04-02 06:00:00,1115,194,0,921,0,337,0,0,40,...,5,0,231,135,1204020600,7.7,68.0,10.0,06,04
24,2012-04-02 07:00:00,662,175,2,485,0,26,0,0,43,...,5,0,38,45,1204020700,7.3,69.0,10.0,07,04
25,2012-04-02 08:00:00,479,173,2,304,0,7,0,0,40,...,5,0,39,35,1204020800,8.3,64.0,10.0,08,04
26,2012-04-02 09:00:00,443,173,2,268,0,7,0,0,40,...,5,0,38,41,1204020900,8.9,60.0,10.0,09,04
27,2012-04-02 10:00:00,488,178,2,308,0,7,0,0,40,...,5,0,38,34,1204021000,9.4,59.0,10.0,10,04
28,2012-04-02 11:00:00,589,196,2,391,0,7,0,0,40,...,5,0,38,28,1204021100,9.8,61.0,10.0,11,04
29,2012-04-02 12:00:00,2143,43,0,2100,0,7,0,0,40,...,5,0,37,52,1204021200,11.3,56.0,11.0,12,04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17449,2014-03-29 08:00:00,393,43,0,350,0,3,0,0,28,...,5,0,22,72,1403290800,8.8,84.0,3.0,08,03
17450,2014-03-29 09:00:00,507,43,0,464,0,3,0,0,38,...,5,0,21,173,1403290900,9.0,83.0,3.0,09,03
17451,2014-03-29 10:00:00,2284,43,0,2241,0,3,0,0,39,...,5,0,22,181,1403291000,10.7,79.0,11.0,10,03
17453,2014-03-29 12:00:00,2271,43,2,2226,0,3,0,0,38,...,5,0,22,185,1403291200,9.6,82.0,3.0,12,03
17454,2014-03-29 13:00:00,530,45,2,483,0,2,0,0,38,...,5,0,22,195,1403291300,10.7,78.0,11.0,13,03
17455,2014-03-29 14:00:00,5922,345,0,5577,0,2,0,0,40,...,5,0,21,2502,1403291400,9.3,86.0,3.0,14,03
17456,2014-03-29 15:00:00,1594,479,0,1115,0,279,0,0,38,...,35,0,251,168,1403291500,9.1,86.0,3.0,15,03
17457,2014-03-29 16:00:00,863,173,0,690,0,329,0,0,38,...,4,0,22,71,1403291600,9.3,88.0,3.0,16,03
17460,2014-03-29 19:00:00,566,173,2,391,0,3,0,0,38,...,5,0,22,61,1403291900,8.9,87.0,3.0,19,03
17463,2014-03-29 22:00:00,1192,178,0,1014,0,334,0,0,38,...,5,0,22,168,1403292200,8.2,91.0,11.0,22,03
17466,2014-03-30 01:00:00,5214,43,0,5171,0,4,0,0,38,...,5,0,22,58,1403300100,7.7,87.0,11.0,01,03
17467,2014-03-30 02:00:00,772,43,2,727,0,4,0,0,38,...,5,0,21,219,1403300200,7.8,85.0,3.0,02,03
17468,2014-03-30 03:00:00,813,41,2,770,21,4,0,0,40,...,5,0,21,394,1403300300,7.8,82.0,3.0,03,03
17469,2014-03-30 04:00:00,1046,43,0,1003,21,276,0,0,32,...,21,0,21,276,1403300400,7.6,81.0,3.0,04,03
17472,2014-03-30 07:00:00,1137,191,2,944,0,298,0,0,38,...,5,0,22,169,1403300700,7.2,85.0,11.0,07,03
17473,2014-03-30 08:00:00,534,41,4,489,0,3,0,0,38,...,5,0,22,193,1403300800,7.0,84.0,3.0,08,03
17474,2014-03-30 09:00:00,648,43,2,603,0,3,0,0,39,...,5,0,22,180,1403300900,6.8,90.0,3.0,09,03
17475,2014-03-30 10:00:00,653,175,2,476,0,3,0,0,42,...,5,0,21,171,1403301000,7.5,88.0,3.0,10,03
17478,2014-03-30 13:00:00,2422,43,0,2379,0,3,0,0,38,...,5,0,22,185,1403301300,11.3,59.0,11.0,13,03
17481,2014-03-30 16:00:00,639,43,2,594,0,2,0,0,39,...,5,0,22,171,1403301600,11.1,64.0,11.0,16,03
17484,2014-03-30 19:00:00,708,175,0,533,0,16,0,132,37,...,5,0,22,63,1403301900,8.4,72.0,11.0,19,03
17487,2014-03-30 22:00:00,434,41,0,393,0,3,0,0,38,...,5,0,21,71,1403302200,7.3,80.0,11.0,22,03
17490,2014-03-31 01:00:00,2335,178,2,2155,0,273,0,0,37,...,5,0,23,1593,1403310100,6.0,87.0,11.0,01,03
17493,2014-03-31 04:00:00,1462,43,2,1417,21,268,0,0,38,...,4,0,198,477,1403310400,3.2,88.0,13.0,04,03
17496,2014-03-31 07:00:00,539,43,0,496,0,3,0,0,38,...,5,0,22,68,1403310700,4.5,87.0,12.0,07,03
17499,2014-03-31 10:00:00,2266,41,0,2225,0,3,0,0,38,...,5,0,22,80,1403311000,8.0,78.0,12.0,10,03
17502,2014-03-31 13:00:00,539,43,2,494,0,2,0,0,38,...,5,0,22,69,1403311300,10.3,76.0,11.0,13,03
17505,2014-03-31 16:00:00,2326,41,0,2285,0,2,0,0,38,...,5,0,22,75,1403311600,10.2,80.0,12.0,16,03
17508,2014-03-31 19:00:00,662,178,2,482,0,3,0,0,42,...,5,0,22,56,1403311900,8.6,84.0,12.0,19,03
17511,2014-03-31 22:00:00,799,43,2,754,0,278,0,0,38,...,5,0,145,66,1403312200,6.3,92.0,13.0,22,03

In [18]:
res_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13836 entries, 0 to 17511
Data columns (total 30 columns):
Time        13836 non-null datetime64[ns]
WHE         13836 non-null int64
RSE         13836 non-null int64
GRE         13836 non-null int64
MHE         13836 non-null int64
B1E         13836 non-null int64
BME         13836 non-null int64
CWE         13836 non-null int64
DWE         13836 non-null int64
EQE         13836 non-null int64
FRE         13836 non-null int64
HPE         13836 non-null int64
OFE         13836 non-null int64
UTE         13836 non-null int64
WOE         13836 non-null int64
B2E         13836 non-null int64
CDE         13836 non-null int64
DNE         13836 non-null int64
EBE         13836 non-null int64
FGE         13836 non-null int64
HTE         13836 non-null int64
OUE         13836 non-null int64
TVE         13836 non-null int64
UNE         13836 non-null int64
time_num    13836 non-null object
Temp        13836 non-null float64
Rel_Hum     13836 non-null float64
Weather     13836 non-null float64
Hour        13836 non-null object
Month       13836 non-null object
dtypes: datetime64[ns](1), float64(3), int64(23), object(3)
memory usage: 3.3+ MB

In [19]:
res_df.to_csv("res_data_min.csv", mode='w', index=False)
print('end')

end